:root{
    --green:#6FA00E;
    --brown:#8B4513;
}


*{
    margin:0;
    padding:0;
}

body{background-image:url(min.jpg);
    background-size: cover;
    height:100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }


header{
    flex:0.1;
    background-color:#6FA00E;
    color:white;
    font-family: 'Kalam', cursive;

    width: 100%;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

header >h1{
    font-size:2.5vw;
    padding:1vw;

}



.translator{
    width:100%;
    flex:0.75;
    text-align: center;
    display: flex;

    position:relative;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}   

img{
    position: absolute;
    height:25vw;
    bottom:50;
    left:1;
    z-index:1;
}

img:hover{
    
    transform: scale(1.2);
}
textarea{
    
    position: relative;
    z-index:2;
    background-color: white;

    border:0.5vw solid #6FA00E;
    font-family: 'Kalam', cursive;
    color: #8B4513;
    font-weight: bold;
    
    font-size:2vw;

    height:30%;
    width:50vw;
    padding:1vw;
    
}

button{
    
    background-color:#6FA00E;
    color:white;
    border:0.5vw solid white;
    border-radius:15px;
    padding:0.5vw 2vw;
    
    font-family: 'Kalam', cursive;
    font-weight: bold;

    font-size:2vw;
    cursor: pointer;


}



button:hover{
    background-color: #8B4513; 
    transform:scale(1.1)
}

footer{

    flex:0.15;
    background-color:#6FA00E;
    color:#333333;
    font-family: 'Kalam', cursive;
    text-align: center;

    

    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:0vw 5vw

}


footer >p{
    font-size:1.5vw;
    
}


@media only screen and (max-width: 600px) {
    header >h1{
        font-size:4vw;
    
    }

    button{
        font-size:2vw;
    }

    footer >h1{
        font-size:4vw;
    }
    
    footer >p{
        font-size:2vw;
        
    }
}